@import "./mobile.css";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.container {
  width: 1000px;
}

header,
.introduction-bg {
  background: #1f2937;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

header {
  padding-top: 10px;
}

.introduction-bg {
  margin-bottom: 48px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

#logo {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

a {
  text-decoration: none;
  padding: 4px 0px;
  color: #e5e7eb;
}

.introduction {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 16px;
  color: #f9faf8;
}

.description {
  max-width: 50%;
}

.description > p {
  font-size: 20px;
  margin-bottom: 16px;
  color: #e5e7eb;
}

button.signup {
  padding: 8px 16px;
  width: 25%;
  border: 0px;
  border-radius: 6px;
  font-weight: 700;
  background-color: #3882f6;
  color: #f9faf8;
}

picture {
  width: 50%;
  height: 350px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

button:hover,
a:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.informations-bg,
.feedback-bg,
.register-bg {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.informations > h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.informations-cards {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 24px;
  gap: 20px;
}

.card {
  text-align: center;
  width: 25%;
}

.card-img-container {
  height: 200px;
  margin-bottom: 10px;
}

.card img,
.register {
  border-radius: 10px;
}

.card p {
  color: #555;
}

#tux {
  object-fit: cover;
}

.feedback-bg {
  background: #e5e7eb;
}

.feedback-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 800px;
}

blockquote {
  font-weight: lighter;
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
}

.feedback-content p {
  align-self: flex-end;
  padding-right: 40px;
  font-weight: 600;
}

.register {
  display: flex;
  justify-content: space-around;
  padding: 48px;
  background: #3882f6;
  color: #f9faf8;
}

.register button {
  border: 2px solid #f9faf8;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  background: #1f2937;
  color: white;
}

footer img {
  width: 20px;
  height: 20px;
}

footer a {
  margin-left: 10px;
}

#sidebar {
  display: none;
}

button#list-menu {
  display: none;
}

button#close-menu > span,
button#list-menu > span {
  padding: 16px 0px;
}

@media (max-width: 760px) {
  #nav-menu {
    display: none;
  }

  button#list-menu {
    display: block;
  }

  button#close-menu {
    align-self: flex-end;
  }

  button#list-menu,
  button#close-menu {
    background: none;
    border: none;
    cursor: pointer;
  }

  #sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 260px;
    height: 100vh;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.247);
    backdrop-filter: blur(10px);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 10;
  }

  #sidebar.active {
    transform: translateX(0);
  }

  #sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  .introduction picture {
    display: none;
  }

  div.introduction.container {
    justify-content: center;
  }

  .description {
    text-align: center;
  }

  button.signup {
    width: 50%;
  }
}
